*,*::before,*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.container {
    /* 桌機 */
    max-width: 1320px; /* 1296 + 24 gutter */
    margin: 0 auto;
    padding: 0 12px;
    /* 平板 */
    @media (max-width: 992px) {
        max-width: 100%;
    
    }
    /* 手機 */
    @media (max-width: 767px) {
        max-width: 100%;
    }
}

a {
    text-decoration: none;
}


/* font */

.fz-14 {
    font-size: 14px;
}

.fz-20 {
    font-size: 20px;
}

.fz-36 {
    font-size: 36px;
}

.ft-wt {
    color: #ffffff;
}

.bg-red {
    background: #AA0601;
}


/* margin */

.mb-2 {
    margin-bottom: 8px;
}


/* header */

.navbar {
    padding: 16px 0;
    /* 去除手機版padding bottom */
    @media (max-width: 767px) {
        padding-bottom: 0;
    }
}

.navbar-wrap {
    display: flex;
    justify-content: space-between;
    /* 小於768轉成手機排版 */
    @media (max-width: 767px) {
        flex-direction: column;
        /* 移除左右 padding 再加入 max-width: 100%; 讓導覽列能變為滿版 */
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
}

.navbar-logo{
    display: block;
    width: 80px;
    height: 48px;
    background-image: url(../image/logo-white.png);
    background-size: cover;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    @media (max-width: 767px) {
        margin: 0 0 16px 16px;
    }
}

.navbar-nav {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}

.navbar-item {
    height: 100%;

    @media (max-width: 767px) {
        width: 50%;
        margin-right: 0;
        border: 1px solid #ffffff;
    }
}

.navbar-link {
    height: 100%;
    display: block;
    text-decoration: none;
    padding: 8px 32px;

    @media (max-width: 767px) {
        font-size: 16px;
        text-align: center;
        padding: 12px 0;
    }
}

.navbar-link:hover {
    opacity: 0.7;
}

/* 移除navbar-link右邊padding，要下在a裡面因為左右間距是用a推出來的 */
.navbar-item:last-child .navbar-link {
    padding-right: 0;
}


.content {
    height: 100px;
}

/* footer */

.footer {
    padding-top: 48px;
    padding-bottom: 32px;

    @media (max-width: 992px) {
        padding-bottom: 40px;
    }

    @media (max-width: 767px) {
        padding: 24px 0;
    }
}

.footer-navwrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @media (max-width: 767px) {
        margin-bottom: 24px;
    }
}

.footer-navbar-nav {
    @media (max-width: 992px) {
        width: calc(66.67% + 12px)
    }

    @media (max-width: 767px) {
        width: 52%;
    }
}

/* 可在外層用margin:-24px或是指定.footer-nav最後一個li來把padding-left設定成0來抵銷gutter */
.footer-nav {
    display: flex;
    margin-bottom: 36px;
    margin-left: -24px;

    @media (max-width: 992px) {
        margin-bottom: 32px;
    }

    @media (max-width: 767px) {
        display: none;
    }
}

/* .footer-nav li:first-child a {
    padding-left: 0;
} */

.footer-nav li a {
    display: block;
    padding: 12px 24px;

    @media (max-width: 992px) {
        padding: 8px 24px;
    }
}

.footer-contact li a {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .footer-contact a span {
        font-size: 16px;
    }
}

.footer-contact li .mr-4 {
    margin-right: 16px;

    @media (max-width: 767px) {
        margin-right: 8px;
    }
}

.footer-socialLink {
    display: flex;
    width: calc(16.67% + 12px)

    @media (max-width: 992px) {
        width: 25%;
    }

    @media (max-width: 767px) {
        width: 30%;
    }
}

.footer-socialLink li a {
    display: block;
    width: 48px;
    margin-right: 32px;

    @media (max-width: 992px) {
        width: 40px;
        margin-right: 16px;
    }

    @media (max-width: 767px) {
        width: 24px;
        margin-right: 8px;
    }
}

.footer-socialLink li:last-child a {
    margin-right: 0;
}

.footer-policywrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    border-top: 1px solid #ffffff;

    @media (max-width: 767px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding-top: 16px;
    }
}

.policy-item {
    display: flex;

    @media (max-width: 767px) {
        display: block;
    }
}

.policy-item a {
    display: block;
    padding: 1px 24px;

    @media (max-width: 767px) {
        padding: 0;
        font-size: 16px;
        margin-top: 8px;
    }
}

.policy-item li:last-child a {
    padding-right: 0;
}

.footer a:hover {
    opacity: 0.7;
}